@model Application.Contract.Requests.CryptoCurrencyAddRequest

@{ ViewData["Title"] = "Create"; }

<div class="container">
    <h4>Fill in the code below and click 'Add new code' to add a new cryptocurrency to the list</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                @if (ViewBag.Errors != null)
                {
                    <ul class="text-danger">
                        @foreach (var item in ViewBag.Errors)
                        {
                            <li>
                                @item
                            </li>
                        }
                    </ul>
                }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label">Crypto Currency Code :</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add new code" class="btn btn-success" /> | <a asp-action="Index">Show Crypto Currency List</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
