@model Application.Contract.Responses.CryptoCurrencyRawResponse

@{ ViewData["Title"] = "Delete"; }

<div class="container">
    <h4>You can not revert this action. Please, click 'Confirm' if you want to remove this Crypto Currency.</h4>
    <hr />

    <div class="row">
        <div class="col-md-12">
            @if (ViewBag.Errors != null)
            {
                <ul class="text-danger">
                    @foreach (var item in ViewBag.Errors)
                    {
                        <li>
                            @item
                        </li>
                    }
                </ul>
            }


            <label asp-for="Code" class="control-label">Crypto Currency Code :</label>
            <input asp-for="Code" readonly class="form-control" />
        </div>
    </div>
    <hr />
    <form asp-action="Delete">
        <input type="submit" value="Confirm" class="btn btn-danger" /> |
        <a asp-action="Index">Back to all Currencies</a>
    </form>

</div>
